<div class="authentications">
<h1>hi there!</h1>
<p><strong>Sign in to enjoy good stuff at Last.fm:</strong></p>
<div class="moving">
<a href="/auth/lastfm"><%= image_tag "lastfm.png", :size => "64x64" %>
</a>
</div>
<div class="box" >
	<h1>hello</h1>
</div>

</div>

