<div class="authentications">
<h1>hi there!</h1>
<p><strong>You can sign into this account using:</strong></p><a href="/auth/lastfm"><%= image_tag "lastfm.png", :size => "64x64", :alt => "lastfm" %>
</a>
</div>

